header {
  background: linear-gradient(-22deg, #7b64e2 30%, #311b92 100%);
  height: 350px;
  background-image: url("themes/netcentric/title.large.png"), linear-gradient(-22deg, #7b64e2 30%, #311b92 100%);
}
header {
  color: white;
  position: relative;
}
.pageHeadline {
  font-size: 42px;
  color: #fff;
  font-weight: 300;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.homepageLink {
  display: inline-block;
  color: transparent;
  background-image: url("themes/netcentric/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 20px;
  height: 38px;
  padding: 10px;
  margin: 0.5% 1% 0 4%;
}

.homepageLink:link, .homepageLink:visited {
  color: transparent;
}
