@media all and (max-width: 800px) {
  .col-1 {
    width: 33.33%;
  }
  .col-2 {
    width: 50%;
  }
  .col-3 {
    width: 83.33%;
  }
  .col-4 {
    width: 100%;
  }
  .col-5 {
    width: 100%;
  }
  .col-6 {
    width: 100%;
  }
  .row .col-2:last-of-type {
    width: 100%;
  }
  .row .col-5 ~ .col-1 {
    width: 100%;
  }
}

@media all and (max-width: 650px) {
  .col-1 {
    width: 50%;
  }
  .col-2 {
    width: 100%;
  }
  .col-3 {
    width: 100%;
  }
  .col-4 {
    width: 100%;
  }
  .col-5 {
    width: 100%;
  }
  .col-6 {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  header {
    max-height: 280px;
  }
  .pageHeadline {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    width: 100%;
  }
  h2 {
    font-size: 30px;
  }
  .product-name {
    width: 47%;
  }
  .product-detail {
    width: 53%;
  }
}
