    @charset "UTF-8";

    @import 'themes/netcentric/netcentric';

    #section-shoppingcart {
      background: #f7f7f7;
      padding: 20px;
    }

    input {
    width: 21%;
    margin-left: 2%;
    }

    .quantityButton {
      @include cart-button;
    }

    .removeButton {
      @include text-button;
    }
    .addToCart {
      @include text-button;
    }

    .under-line {
     border-bottom: 1px solid $c-secondary-darker;
     margin-top: 8%;
    }
    .under-line-vat {
     border-bottom: 1px solid $c-secondary-darker;
     margin-bottom: 2%;
     margin-top: 2%;
    }
    .under-line-total {
     border-bottom: 1px dashed $c-secondary-darker;
     margin-top: 2%;
    }

    .text-align-right {
      text-align: right;
      list-style-type: none;
    }

    .continueShopping {
      color: $c-primary;
    }

    .price {
        font-weight: $font-weight-bold;
        float: right;
        line-height: 0;
  }
  .specialClass {
    line-height: 2.2;
  }
  .bordered {
  border: dashed 1px $c-secondary-darker;
  }

  #show-cart {
    width: 100%;
    padding-left: 0;
  }

  .product-name {
    width: 50%;
    float: left;
  }

  .product-detail {
    width: 46%;
    float: right;
  }

  .clearfix {
  clear: both;
  }

  .delete-item {
  margin-top: 2%
  }

  .total-price {
  line-height: 35px;
  }

  .no-style {
  list-style: none;
  margin-top: 0;
  padding-left: 0;
  }

  .euro {
    font-size: $font-size-final-output;
    color: $c-primary;
    font-weight: $font-weight-bold;
  }

  #total-cart-vat {
    font-size: $font-size-final-output;
    color: $c-primary;
    font-weight: $font-weight-bold;
  }
